body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.1em;
}

button {
  border-radius: 4px;
  border: 0;
  color: #fff;
  background: #000;
  font-size: 1em;
}

ul {
  list-style: none;
}

input {
  font-size: 1.1em;
}